.evaluation-criteria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin: 20px 0;
  border-radius: 10px;
}


.criteria-content {
  flex: 1;
  margin-left: 50px;
}

.criteria-title {
  font-family: 'League Spartan', sans-serif;
  font-size: 2rem;
  color: #06377b;
  margin-bottom: 20px;
  margin-left: 20px;
}
.criteria-description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  margin-bottom: 25px;
  text-align: justify;
  margin-left: 20px;
}

.criteria-steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.step-criteria{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}


.step-description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}


.criteria-image {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 50%;
}

.criteria-image img {
  width: 90%;
  height: auto;
  margin-left: 80px;
}